@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: YakuHanMPs_Noto, 'Noto Serif JP', serif;
    opacity: 0; /*bodyの中の要素を非表示にします*/ 
    transition: opacity 4s ease; /*表示させるスピード*/
}

body.active {
    opacity: 1;
}
img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}
html{
    /* フォントサイズの正確に */
    -webkit-text-size-adjust: 100%;
    /* 文字をシャープに */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* カーニングとリガチャ（合字）を調整 */
    text-rendering: optimizeLegibility;
}

.wrapper {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.section-title {
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    color: #0f1419;
    font-size: 40px;
    margin-bottom: 100px;
  }
   
  .section-title:before {
      position: absolute;
      bottom: -5px; /*文字と線の間の幅*/
      left: calc(50% - 40px); /*下線の場所*/
      width: 80px; /*下線の長さ*/
      height: 2px; /*下線の厚み、高さ*/
      content: '';
      border-radius: 3px;
      background: #0f1419;
    }

.footer-footer {
    text-align: center;
    font-size: 10px;
    padding: 50px;
  }

/*----------header---------*/
#header {
    display: flex;
    align-items: center;
    position: relative; /*基準値を指定*/
    height: 150px;
    margin-bottom: 120px;
}

#header img {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

#header .header-title {
    color: #0f1419;
    font-size: 40px;
}

nav ul {
    display: flex;
    position: absolute; /*ナビゲーションの位置を配置*/
    top: 65%;
    right: 4%;
}

nav ul li {
    font-size: 19px;
    margin-right: 30px;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #0f1419
  }
  #header a::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #0f1419;
    opacity: 0;
    visibility: hidden; /*下線の非表示*/
    transition: .5s; /*下線が出てくるスピード*/
  }
  #header a:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible; /*要素の表示非表示を設定する(下線)*/
  }

/*----------About---------*/
#about {
    margin-bottom: 100px;
}

#about .club-overview {
    margin-bottom: 40px;
}

#about .club-teamname {
    margin-bottom: 40px;
}

.club-emblem img {
    padding-top: 20px;
    width: 200px;
}

#about p {
    white-space: pre-line;
}


/*----------daihyo---------*/
#daihyo {
    height: 830px;
    margin-bottom: 100px;
    background-image: url(team4.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#daihyo h3 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

#daihyo p {
    margin-left: 40px;
}

.club-daihyo {
    background-color: rgba(0, 0, 0, 0.3);
    height: 830px;
}

.club-daihyo img {
    width: 200px;
    border-radius: 50%;
}

.club-text p {
    color: #fff;
    white-space: pre-line;
}

.club-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0 auto;
    align-items: center;
    
}
  /*----------footer---------*/
#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin-bottom: 60px;
}
#footer img {
    width: 200px;
}

#footer .footer-category a {
    width: 200px;
}

#footer .footer-category li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #AAAAAA;
}

#footer .footer-category li a:hover {
    opacity: 0.6;
}

#footer .footer-title {
    border-bottom: dotted 1px #AAAAAA;
    margin-bottom: 30px;
}
#footer .sns {
    font-size: 30px;
    text-align: center;
}

#footer .sns-link {
    background-color: #fff;
    color: #0f1419;
    font-size: 12px;
    padding: 10px 70px;
}

#footer .fa-brands {
    margin: 20px;
}

.footer-title {
    padding-bottom: 7px;
}

/*----ハンバーガーメニュー----*/
.nav_toggle, /*PCでは非表示*/
.nav {
  display: none;
}

/*---------レスポンシブ---------*/

@media screen and (max-width: 767px) {

    nav { /*ナビゲーション非表示*/
        display: none; /*非表示*/
    }

    nav ul li {
        font-size: 15px;
    }

    .wrapper {
        padding: 0 8%;
    }

    .section-title {
        font-size: 30px;
    }

    #header .header-logo {
        padding-left: 30px;
    }
   
    #header ul {
        padding-right: 50px;
    }

    #header ul li {
        font-size: 20px;
        padding-top: 80px;
    }

    #header a::after {
        background: #fff;
    }

    #daihyo {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 100px;
    }

    #daihyo img {
        width: 160px; /*画像のサイズ*/
        margin-top: 20%;
        margin-left: 35%;
        margin-bottom: 40px; /*文字との距離*/
    }
    

    .club-text {
        flex-wrap: wrap; /*画像、テキストエリアを縦並び*/
        width: 100%; /*横幅名いっぱいに文字を表示させる*/
        padding: 0 3%; /*内側に寄せ余白を外側に作る*/
    }

    #footer {
        flex-direction: column;
    }

    .footer-category {
        margin-top: 40px;
    }

    .sns {
        margin-top: 50px;
        text-align: center;
    }

    /*ハンバーガーメニュー*/
    /* ハンバーガーのマーク */
    .nav_toggle {
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.5rem;
        margin-left: 60%;
        z-index: 2;
      }
      .nav_toggle i {
        display: block;
        width: 100%; /*線の長さ*/
        height: 2px; /*線の太さ*/
        background-color: black;
        position: absolute;
        transition: transform 0.5s, opacity 0.5s; /*クッリクした時の三本線の変化する時間*/
      }

      .nav_toggle i:nth-child(1) {
        top: 0;
      }
      .nav_toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .nav_toggle i:nth-child(3) {
        bottom: 0;
      }

      /* クリックされた後のハンバーガーのマーク */
      .nav_toggle.show i:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
        background-color: #fff;
      }
     .nav_toggle.show i:nth-child(2) {
        background-color: #fff;
        opacity: 0;
     }
     .nav_toggle.show i:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
        background-color: #fff;
     }

     /* クリックで表示されるメニュー：クリックされる前 */
    .nav {
     display: flex;
     position: fixed;
     flex-direction: column;
     text-align: center;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.5s, visibility 0.5s; /*ナビゲーションがクリックされて表示される速度*/
     background-color: black; /*ナビゲーションの背景画像*/
     z-index: 1;
  }

  .nav ul li {
    margin-bottom: -40px;
  }

  .nav ul li a {
    color: #fff;
  }

  /* クリックで表示されるメニュー：クリックされた後 */
  .nav.show {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 499px) {
    body {
        overflow-x: hidden;
    }
    .header-logo {
        width: 100%;
      }
   
      .nav_toggle {
       margin-left: -20%;
      }

      #daihyo h3 {
        margin-right: 40px;
      }

      #daihyo img {
        margin-top: 30%;
        margin-left: 30%;
      }

      .club-text {
        left: 45%;
      }

      .club-text p {
        font-size: 13px;
      }

      .footer-title {
        padding-bottom: 7px;
    }
}

@media screen and (max-width: 399px) {
    body {
        overflow-x: hidden;
    }
    .header-logo {
        width: 100%;
        
      }
      .nav_toggle {
       margin-left: -10%;
      }

      #daihyo {
        background-size: cover;
      }

      #daihyo h3 {
        margin-right: 30px;
      }

      #daihyo img {
        margin-top: 40%; /*上の文字との距離*/
        margin-left: 30%;/*横の文字の位置*/
      }

      .club-text {
        left: 45%;
      }

      .club-text p {
        font-size: 13px;
      }
      
      .footer-title {
        padding-bottom: 7px;
    }

}
