@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: YakuHanMPs_Noto, 'Noto Serif JP', serif;
    opacity: 0; /*bodyの中の要素を非表示にします*/ 
    transition: opacity 4s ease; /*表示させるスピード*/
}

body.active {
    opacity: 1;
}
img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}
html{
    /* フォントサイズの正確に */
    -webkit-text-size-adjust: 100%;
    /* 文字をシャープに */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* カーニングとリガチャ（合字）を調整 */
    text-rendering: optimizeLegibility;
}

.wrapper {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  position: relative;
  padding: 1rem;
  text-align: center;
  color: #0f1419;
  font-size: 35px;
  margin-bottom: 90px;
}
 
.section-title:before {
    position: absolute;
    bottom: -5px; /*文字と線の間の幅*/
    left: calc(50% - 40px); /*下線の場所*/
    width: 80px; /*下線の長さ*/
    height: 2px; /*下線の厚み、高さ*/
    content: '';
    border-radius: 3px;
    background: #0f1419;
  }


  .footer-footer {
      text-align: center;
      font-size: 10px;
      padding: 50px;
    }

/*----------header----------*/

#header {
  display: flex;
  align-items: center;
  position: relative; /*基準値を指定*/
  height: 150px;
  margin-bottom: 120px;
}

#header img {
  width: 100px;
  height: 100px;
  margin-top: 40px;
}

#header .header-title {
  color: #0f1419;
  font-size: 40px;
}

nav ul {
  display: flex;
  position: absolute; /*ナビゲーションの位置を配置*/
  top: 65%;
  right: 4%;
}

nav ul li {
  font-size: 19px;
  margin-right: 30px;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #0f1419
}
#header a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #0f1419;
  opacity: 0;
  visibility: hidden; /*下線の非表示*/
  transition: .5s; /*下線が出てくるスピード*/
}
#header a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible; /*要素の表示非表示を設定する(下線)*/
}


/*----------suponser--------*/
#suponser .content {
  margin-bottom: 80px;
  margin-top: 150px;
}
#suponser .content-suponser {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#suponser .content .img {
  margin-right: 80px;
}


.content-suponser img {
  width: 300px;
}

 /*----------footer---------*/
 #footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  margin-bottom: 60px;
}
#footer img {
  width: 200px;
}

#footer .footer-category a {
  width: 200px;
}

#footer .footer-category li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: dotted 1px #AAAAAA;
}

#footer .footer-category li a:hover {
  opacity: 0.6;
}

#footer .footer-title {
  border-bottom: dotted 1px #AAAAAA;
  margin-bottom: 30px;
}
#footer .sns {
  font-size: 30px;
  text-align: center;
}

#footer .sns-link {
  background-color: #fff;
  color: #0f1419;
  font-size: 12px;
  padding: 10px 70px;
}

#footer .fa-brands {
  margin: 20px;
}

/*----ハンバーガーメニュー----*/
.nav_toggle, /*PCでは非表示*/
.nav {
display: none;
}

@media screen and (max-width: 767px) {
    nav { /*ナビゲーション非表示*/
      display: none;
  }

  nav ul li {
      font-size: 15px;
  }

 #header .header-logo {
  padding-left: 50px;
 }

  #header ul {
      padding-right: 50px;
  }

  #header ul li {
      font-size: 20px;
      padding-top: 80px;
  }

  #header a::after {
      background: #fff;
  }

  .content-suponser {
    text-align: center;
    flex-direction: column;
  }

  .content-suponser .img {
    margin-bottom: 50px;
  }

  #suponser img {
    width: 70%
  }

  #footer {
    flex-direction: column;
  }

  .footer-category {
    margin-top: 40px;
  }

  .sns {
    margin-top: 50px;
    text-align: center;
  }


    /*ハンバーガーメニュー*/
      /* ハンバーガーのマーク */
      .nav_toggle {
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.5rem;
        margin-left: 60%;
        z-index: 2;
      }
      .nav_toggle i {
        display: block;
        width: 100%; /*線の長さ*/
        height: 2px; /*線の太さ*/
        background-color: black;
        position: absolute;
        transition: transform 0.5s, opacity 0.5s; /*クッリクした時の三本線の変化する時間*/
      }

      .nav_toggle i:nth-child(1) {
        top: 0;
      }
      .nav_toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .nav_toggle i:nth-child(3) {
        bottom: 0;
      }

      /* クリックされた後のハンバーガーのマーク */
      .nav_toggle.show i:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
        background-color: #fff;
      }
    .nav_toggle.show i:nth-child(2) {
        background-color: #fff;
        opacity: 0;
    }
    .nav_toggle.show i:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
        background-color: #fff;
    }

    /* クリックで表示されるメニュー：クリックされる前 */
    .nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; /*ナビゲーションがクリックされて表示される速度*/
    background-color: black; /*ナビゲーションの背景画像*/
    z-index: 1;
  }

  .nav ul li {
    margin-bottom: -40px;
  }

  .nav ul li a {
    color: #fff;
  }

  /* クリックで表示されるメニュー：クリックされた後 */
  .nav.show {
    opacity: 1;
    visibility: visible;
  }
}
